.navbar {/*tar bort margin och padding så strecket under hamnar direkt efter*/
    margin: 0;  
    padding: 0; 
}

.navbarSlut {
    margin: 0; 
    background-color: rgb(3, 121, 54);
}

hr {
    height: 2px;         
    background-color: rgb(3, 121, 54); 
    margin: 0;           
}

.Sök{ /*Ändrar position och marginaler för sökfältet*/
    display: flex;
    justify-content: flex-end;
    margin-top: -30px;
}

.btn-outline-success:hover { /*Ändrar färg på ruta och textfärg när man hovrar över knapparna*/
    background-color: rgb(3, 121, 54);
    color: white; 
}

h3{
   text-align: center;
   color: rgb(3, 121, 54);
}

.card-container {
    padding:2rem;
    margin-bottom: 2rem; 
}


.col-md-3 {
    padding-left: 1rem; 
    padding-right: 1rem; 
    margin-bottom: 1rem;
}

.card {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid rgb(3, 121, 54);
    border-radius: 6px; 
    overflow: hidden;
   
}

.carousel-inner .carousel-item img {
    height: 12rem; 
    min-height: 12rem;
    object-fit: cover;
    width: 100%; 
    border-bottom: 2px solid rgb(3, 121, 54);
}

.card.highlight{ /*förtydligar kort när de blir sökta på*/
    border-width: 4px;
    border-color: rgb(3, 121, 54);
    box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.5); 
}

